/* LOGO */
.logo_container {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
  overflow: hidden;
  font-family: var(--font-triangulate);
}
.logo_counter {
  width: fit-content;
  overflow: hidden;
  padding-right: 5;
  transition: max-width 0.6s ease 0.5s;
}
.logo {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(var(--bigger-letter) / 2);
  line-height: 1;
  width: fit-content;
}

.bigger_letters_container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  /* background-color: blue; */
}

.bigger_letter {
  font-size: var(--bigger-letter);
  line-height: 1;
}

/* END LOGO */

/* 📱 MOBILE */
/* @media (max-width: 767px) {
} */

/* 📲 TABLET */
@media (max-width: 1023px) {
  .logo_container {
    width: 100%;
    align-items: center;
  }
  .logo_counter {
    display: none;
  }
}

/* 💻 DESKTOP */
@media (min-width: 1024px) {
}
