.navbar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 99vw;
  z-index: 999;
  mix-blend-mode: difference;
}

.navbar_menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

/* SECTIONS */
.navbar__section_list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4vw;
  overflow: hidden;
}

/* END SECTIONS */

/* 📱 TELEFON */
/* @media (max-width: 767px) {} */

/* 📲 TABLET */
@media (max-width: 1023px) {
  .navbar {
    flex-direction: column;
  }
  .navbar_menu {
    align-items: center;
  }
  .navbar__section_list {
    padding-top: 15px;
  }
}

/* 💻 DESKTOP */
@media (min-width: 1024px) {
}
