.question {
  position: relative;
  font-size: var(--h1);
  font-family: var(--font-incosolata);
  height: 70vh;
  text-align: center;
  display: flex;
  align-items: center;
}
.bottom__edge {
  margin-bottom: 30px;
  width: 100%;
  height: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  animation: bottom_disappear both linear;
  animation-timeline: scroll(root);
  animation-range: 0% 15%;
}

@keyframes bottom_disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.scaleAnimation {
  display: inline-block;
  width: fit-content;
}
