.side_note {
  position: relative;
  width: fit-content;
  height: fit-content;
  display: inline-flex;
  align-items: center;
  justify-items: center;
}

.side_note_container {
  position: absolute;
  font-size: 3.5vw;
}

.card {
  position: relative;
  width: 100%;
  height: fit-content;
  /* min-height: 20vh; */
  color: white;
  opacity: 0;
  overflow: hidden;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  transform: translateY(100px);
  animation: card_fade_in linear both;
  animation-timeline: view();
  animation-range: entry 12% cover 70%;
}

@keyframes card_fade_in {
  from {
    opacity: 0;
    transform: translateY(100px);
    filter: blur(3px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
  }
}

.card_title {
  /* position: absolute; */
  /* bottom:0; */
  right: 10px;
  font-size: 36vw;
  font-weight: 900;
  letter-spacing: -6vw;
  line-height: 0.7;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  white-space: nowrap;

  /* opacity: 0.4; */
}
